.search-form {
  background-color: gray;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.7);
}
