
.gallery {
  position: relative;
  top: 130px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  gap: 20px;
}

.photo-card {
flex-basis: calc((100% - 60px)/4);
height: 332px;
background-color: rgba(174,175,165,1);
border: 1px solid rgba(107,124,139,1);
border-radius: 6px;
overflow: hidden;
&:hover {
  transform: scale(1.1);
}
}


.photo-card__link {
  width: 100%;
  height: 250px;
&:hover {
  cursor: zoom-in;
}
}

.photo-card__link > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 5px;
  text-align: center;
}

.load-more {
  margin: 160px auto 50px auto;
  padding: 8px;
  background-color: transparent;
  border: 1px solid rgba(107, 124, 139, 1);
}